<h1> Hound About Town </h1>

<h1> Discover new dog friendly places with your best furry friend! </h1>

<h2> Let's Go! </h2>

<%= form_tag "/login", method: :post do %>
  <div>
    Email: <input type="email" name="email">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  
  <br>
  <input type="submit" value="Log In">

<% end %>

<br>
<%= form_tag "/signup", method: :get do %>
  <input type="submit" value="New to the site? Create an account!">
<% end %> 