<h1> Create an Account </h1>

<%= form_tag '/users', method: :post do  %>

  <div>
    Name: <input type="text" name="username">
  </div>
  <div>
    Email: <input type="email" name="email">
  </div>
  <div>
    Password: <input type="password" name="password">
  </div>
  <div>
    Confirm Password: <input type="password" name="password_confirmation">
  </div>
  
  <div>
    Age: <input type="age" name="age">
  </div>
  <div>
    Gender: <input type="gender" name="gender">
  </div>
  <div>
    City: <input type="city" name="city">
  </div>
  <div>
    State: <input type="state" name="state">
  </div>
  <div>
    Zipcode: <input type="state" name="state">
  </div>
  <div>
    About Me: <textarea name="about_me" id="" cols="30" rows="10"></textarea>
  </div>
  <div>
    Image URL: <input type="image_url" name="image_url">
  </div>

  <br>
  <button name="button" type="submit">Submit</button>


<% end %>

<%= form_tag "/users/show", method: :get do %>
  <input type="submit" value="New to the site? Create an account!">
<% end %> 
