<h1> Create an Account </h1>

<%= form_tag '/users', multipart: true, method: :post do  %>

<div>
  User Name: <input type="text" name="username">
</div>
<div>
  Email: <input type="email" name="email">
</div>
<div>
  Password: <input type="password" name="password">
</div>
<div>
  Confirm Password: <input type="password" name="password_confirmation">
</div>

<div>
  Age: <input type="number" name="age">
</div>
<div>
  Gender: <input type="gender" name="gender">
</div>
<div>
  City: <input type="text" name="city">
</div>
<div>
  State: <input type="text" name="state">
</div>
<div>
  Zipcode: <input type="number" name="zipcode">
</div>
<div>
  About Me: <textarea name="about_me" id="" cols="30" rows="10"></textarea>
</div>

<div>
  <%= label_tag :avatar %>
  <%= file_field_tag :avatar %>
</div>

<br>

<input type="submit" value="Create Account">

<% end %>
